.parent {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
  height: 600px;
  width: 100%;
  text-align: center;
  text-align: center;
  text-align: center;
  background: green;
  background: green;
  background: green;
}

.child {
  display: flex;
  margin-left: 20px;
  height: 100px;
  width: 100px;
  background: red;
}